<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Order of the day</title>
  {{!-- <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css"> --}}
</head>
<body class="bg-cyan-950 bg-gradient-to-r from-amber-500">
  <div class="flex-column">
    <header class="justify-space-around box-border display-flex text-center p-2">
      <h1 class = "text-8xl p-5" href="/">🕘Order of the Day💵</h1>
    <nav>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/profile">profile</a> |
        <a href="/tasks">tasks</a> |
        <button class="no-button" id="logout">logout</button>
        {{/if}}
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  {{!-- <script src="/js/profile.js"></script> --}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>


</html>
